* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 44, 44);
}

.navigasi {
    background-image: url(Revolusi-Industri.jpg);
    height: 250px;
    padding: 50px ;
}

.navigasi h1 {
    padding-top: 100px;
    text-align: center;
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    width: 900px;
    margin: 30px auto;
}

.main {
    width: 900px;
    margin: 30px auto;
}

h2 a {
    text-decoration: none;
    color:rgb(46, 44, 44);
    transition: text-decoration 0.3s ease; 
}

h2 a:hover {
    text-decoration: underline; 
}


.clear {
    clear: left;
}

hr {
    border: 1px solid rgb(46, 44, 44);
    margin-top: 10px;
}

article img {
    width: 350px;
    float: left;
    margin: 10px 20px 0px 0px; /*atas kanan bawah kiri */

}

article h2 {
    margin-top: 30px;
}

article p {
    line-height: 27px;
    text-align: justify;
}

footer {
    background-color: rgb(46, 44, 44);
    color: white;
    padding:15px 20px;
    text-align: center;
}

/* sejarah */

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}